@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #5e07d1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #5e07d1;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.tutor-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.tutor-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.tutor-preview h2 {
  font-size: 20px;
  color: #18360a;
  margin-bottom: 8px;
}

.tutor-list a {
  text-decoration: none;
}

.tutor-details h1 {
  text-align: center;
}
.tutor-details h2 {
  font-size: 20px;
  color: #18360a;
  margin-bottom: 8px;
}
.tutor-details p {
  margin-bottom: 10px;
}

/*-about----------------------------*/
.about h1 {
  font-size: 40px;
  text-align: center;
}

.about h2 {
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

.about p.aboutDescription {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.about p.devNames {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

/*-profile----------------------------*/
.profile h3{
  padding: 2px;
}

.profile a {
  margin-left: 500px;
  padding: 6px;
}

.profile a:hover{
  color: #5e07d1;
}

/*-editprofile----------------------------*/
.editprofile h3{
  display:inline-block;
  padding: 2px;
}

.editprofile input{
  display:inline;
}

.editprofile a {
  margin-left: 500px;
  padding: 6px;
}

.editprofile a:hover{
  color: #5e07d1;
}

